/* #121214 #3D3C42 #7195C0 #B3C4DF #787480 */

body, h1, h2, h3, h4, h5, h6, p {
	margin: 0px;
	border: 0px;
	padding: 0px;
}

.header {
	font-family: "NotCourierSansRegular";
    font-weight: normal;
    font-style: normal;

	margin: 0px;
	border: 0px;
	padding: 0px;

	background: #20242b;
	color: #B3C4DF;
	font-size: 24px;
	text-align: center;
}

.footer {
	font-family: "NotCourierSansRegular";
    font-weight: normal;
    font-style: normal;

	margin: 0px;
	border: 0px;
	padding: 0px;

	background: #20242b;
	color: #B3C4DF;
	font-size: 24px;
	text-align: center;
}

.test {
	color: #261b2b;
	font-family: "NotCourierSansRegular";
    font-weight: normal;
    font-style: normal;
}

.background {
	font-family: "NotCourierSansRegular";
    font-weight: normal;
    font-style: normal;

	width: 100%;
	height: 350px;
	margin: 0px;
	border: 0px;
	padding: 0px;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#trees {
	color: #261b2b;

	background-image: url(https://github.com/HunterHykes/hunterhykes.github.io/raw/master/res/trees.png);
}

#stars {
	color: white;

	background-image: url(https://github.com/HunterHykes/hunterhykes.github.io/raw/master/res/stars.png);
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #787480;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #787480;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #3D3C42;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}