/* #121214 #3D3C42 #7195C0 #B3C4DF #787480 */

/*
#09090A #111213 #191B1D #212426 #292D2F #313639 #394042
#41494B #495255v#515A5E[#596367]#687174 #777F82 #868D90
#959B9E #A4A9AC #B3B8B9 #C2C6C7 #D1D4D5 #E0E2E3 #EFF0F1
*/

html, body {
  height: 100%;
  margin: 0;
  color: #F8FBF9;
  background-color: #292D2F;

  font-family: "Ubuntu";
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
	border: 0;
	padding: 0;
}

ul {
  width: 125px;

  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  color: #D1D4D5;
}

a {
  color: #E0E2E3; /*F9CE78*/
  text-decoration: none;
}

a:hover {
  color: #F9CE78;
  text-decoration: underline;
}

.header {
  height: 7%;
  min-height: 25px;
  margin: 0;

  background: #212426;
  color: #E0E2E3;
  font-size: 20px;

	font-family: "NotCourierSansRegular";
  font-weight: normal;
  font-style: normal;
}

.pageButton {
  width: 20%;
  height: 100%;
  margin: auto 0;
  display: table;
  float: left;
  text-align: center;
  font-size: inherit;
  border: none;
  background: none;
  outline: none;

  text-transform: uppercase;

  transition: all 0.3s;
  -webkit-transition: all 0.3s; /* Safari */
  -moz-transition: all 0.3s; /* Mozilla */
}

.wrapper {
  text-align: left;
  width: 60%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

.sidebar {
  height: 100%;
  width: 175px;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

.content {
  float: left;
  width: 300px;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}

.left {
  display: inline-block;
  float: left;
  width: 30%;
}

.right {
  display: inline-block;
  float: left;
  width: 70%;
}

.background {
	font-family: "NotCourierSansRegular";
    font-weight: normal;
    font-style: normal;

	width: 100%;
	height: 300px;
	margin: 0px;
	border: 0px;
	padding: 0px;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

button {
  border: none;
  background: none;
  outline: none;
  text-transform: uppercase;
  height: 100%;
  font-weight: 700;
  color: steelblue;
  font-size: inherit;

  transition: all 0.3s;
  -webkit-transition: all 0.3s; /* Safari */
  -moz-transition: all 0.3s; /* Mozilla */
}

.tray {
  margin: 1%;
  width: 100%;
  background-color: #394042;
  color: #787480;
  text-align: center;
}

.trayPiece {
  width: 50px;
  height: 50px;
  margin: 1% 0.5%;
  display: inline-block;
  background-color: #596367;
}

.pannel {
  margin: 5px;
  padding: 10px;
  background-color: #394042; /* 232824 */
  box-shadow: inset 0 0 0 3px #394042;
  border: solid 5px #212426; /* 212426 */
}

.pannel h4 {
  text-transform: none;
}

.post {
  margin-top: 5%;
  height: 150px;
}

#weather {
  background-color: #596367;
  box-shadow: inset 0 0 0 3px #596367;
  border: solid 5px #394042;
}

span #datetime {
  margin: 0 auto;
  background-color: red;
}

.pdfLink {
  color: #AB0000;
  font-weight: normal;
  text-transform: uppercase;

  padding: 0;
  float: right;

  transition: 0s;
}

.pdfLink:hover {
  color: #EFF0F1;
  text-decoration: none;
}

.txtFrame {
  width: 50%;
  border-left: 1px solid white;
  display: inline-block;
  float: left;
  padding-left: 2%;
  margin: 0 2%;
  background-color: #394042; /* 232824 */
}

.imgFrame {
  height: 96%;
  padding: 1%;
  margin: 0;
  display: inline-block;
  float: left;
}

#skelly {
  background-color: black;
}